{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "eslint-config-prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/typescript"
  ],
  "globals": {
    "__dirname": true,
    "React": true,
    "process": true,
    "document": true,
    "console": true,
    "window": true
  },
  "plugins": ["@typescript-eslint/eslint-plugin", "simple-import-sort", "sort-keys-fix"],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "prettier/prettier": "error",
    "sort-keys-fix/sort-keys-fix": "error",
    "simple-import-sort/sort": "error"
  },
  "settings": {
    "react": {
      // recommended by react plugin
      "version": "detect"
    }
  }
}
